#left {

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
  padding: 50px;
  background-color: darkred;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 10%;
  box-shadow: 0 -8px 6px 0px black inset, 0 2px 6px 0px black inset, 5px 7px 4px 4px black;


  #searchWrapper {
    padding: 30px;
    margin: auto;
    text-align: center;
    text-transform: capitalize;
    height: 125px;
    width: 200px;
    background-image: linear-gradient(greenyellow, green);
    @include displayShadow;
    border-radius: 10px;

    #input {
      width: 113px;
      outline: none;
    }

    #submit {
      width: 100px;
      height: 30px;
    }
  }

  #pokemonWrapper{
    padding: 30px;
    margin: auto;
    text-align: center;
    text-transform: capitalize;
    height: 200px;
    width: 200px;
    background-image: linear-gradient(greenyellow, green);
   @include displayShadow;
    border-radius: 10px;

    #name {
      margin: auto;
      padding-top: 24px;
      font-size: 12px;
    }


    #sprite {
      margin: auto;
      width: 96px;
      height: 96px;
    }
  }

  #extraWrapper {
    display: flex;
    flex-direction: row;


    #id{
      padding-top: 17px;
      padding-bottom: 17px;
      margin-top: 10px;
      margin-left: 33%;

      height: 50px;
      width: 100px;
      background-color: purple;
      box-shadow: 0px 0px 82px purple inset, 0px 0px 5px 4px #600707 inset;
      border-radius: 10px;
      text-align: center;
    }
  }
}

/*#id, #previous, #next {
      flex-grow: 1;
    }*/

