@mixin displayShadow {
  box-shadow: 0px 0px 82px #005100 inset, 0px 0px 5px 4px #600707 inset, 0 0 2px 2px black;
}

#leftWrapper {
  position: relative;
  background-color: darkred;
  width: 400px;
  left: 30px;
  border-bottom-left-radius: 50%;
  #lens {
    position: absolute;
    background-color: deepskyblue;
    left: 15px;
    top: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%
  }
}

#rightWrapper {
  width: 400px;
}

  #right {
    position: relative;
    display: flex;
    flex-direction: column;

    padding: 50px;
    background-color: darkred;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 10%;
    box-shadow: 0 0 14px -2px red inset, 0 -8px 6px -2px black inset, 0 -5px 44px 3px black inset, 0px 4px 3px 3px black;;


    #masterHinge {
      position: absolute;
      height: 552px;
      background-color: darkred;
      width: 50px;
      left: -25px;
      top: -15px;
      box-shadow: 0px 14px 28px -9px darkred, -12px 0px 12px -7px black, 0px 12px 3px 1px black, 0px 0px 3px 1px black, 0px 0px 10px 1px black inset;
      border-radius: 14px;
      #hinge {
        background-color: darkred;
        width: 50px;
        height: 480px;
        z-index: 5;
        box-shadow: 2px 3px 62px 0px black, 0 0 18px 4px black inset;
        margin-top: 42px;
        #topHinge {
          background-color: darkred;
          width: 50px;
          height: 50px;
          box-shadow: 0 -3px 2px 5px darkred, 0 0px 6px 6px black;
          border-bottom-right-radius: 8px;
          border-top-right-radius: 8px;
        }
        #bottomHinge {
          margin-top: 380px;
          background-color: darkred;
          height: 50px;
          width: 50px;
          box-shadow: 0 -3px 2px 5px darkred, 0 -7px 6px 6px black;
          border-bottom-right-radius: 8px;
          border-top-right-radius: 8px;
        }
      }
    }


    #name{
      padding: 30px;
      margin: auto;
      text-align: center;
      text-transform: capitalize;
      height: 100px;
      width: 200px;
      background-image: linear-gradient(greenyellow, green);
      box-shadow: 0px 0px 82px #005100 inset, 0px 0px 5px 4px #600707 inset;
      border-radius: 10px;

    }

    #move-wrapper {
      display: flex;
      flex-direction: column;

      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
      .move {
        padding-top: 16px;
        margin:5px;
       text-align: center;
        width: 200px;
        height: 50px;
        color: deepskyblue;
        background-color: black;
        box-shadow: 0px 0px 82px black inset, 0px 0px 5px 4px #600707 inset, 0 0 2px 2px black;
        border-radius: 10px;

      }
    }

    #deEWrapper {
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 128px;
      height: 128px;
      background-image: linear-gradient(greenyellow, green);
      @include displayShadow;
      border-radius: 10px;

      #evolution {
        margin: auto;
        font-size: 12px;
        padding-top: 24px;
      }

      #de-evolved {
        margin: auto;
        width: 96px;
        height: 96px;
      }
    }

  }

@media only screen and (max-width: 834px) {
  #masterWrapper {
    transform: scale(0.5);
  }
}

