#submit {
  width: 100px;
  height: 100px; }

#right {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 50px;
  background-color: darkred;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 10%; }
  #right #name {
    padding: 30px;
    margin: auto;
    text-align: center;
    text-transform: capitalize;
    height: 100px;
    width: 200px;
    background-image: linear-gradient(greenyellow, green);
    box-shadow: 0px 0px 82px #005100 inset, 0px 0px 5px 4px #600707 inset;
    border-radius: 10px; }
  #right #id {
    padding-top: 17px;
    padding-bottom: 17px;
    margin-top: 10px;
    margin-left: 33%;
    height: 50px;
    width: 100px;
    background-color: purple;
    box-shadow: 0px 0px 82px purple inset, 0px 0px 5px 4px #600707 inset;
    border-radius: 10px;
    text-align: center; }
  #right #move-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px; }
    #right #move-wrapper .move {
      padding-top: 16px;
      margin: 5px;
      text-align: center;
      width: 200px;
      height: 50px;
      color: deepskyblue;
      background-color: black;
      box-shadow: 0px 0px 82px black inset, 0px 0px 5px 4px #600707 inset;
      border-radius: 10px; }
  #right #deEWrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 128px;
    height: 128px;
    background-image: linear-gradient(greenyellow, green);
    box-shadow: 0px 0px 82px #005100 inset, 0px 0px 5px 4px #600707 inset;
    border-radius: 10px; }
    #right #deEWrapper #evolution {
      margin: auto;
      font-size: 12px;
      padding-top: 24px; }
    #right #deEWrapper #de-evolved {
      margin: auto;
      width: 96px;
      height: 96px; }

#left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
  padding: 50px;
  background-color: darkred;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 10%; }
  #left #pokemonWrapper {
    padding: 30px;
    margin: auto;
    text-align: center;
    text-transform: capitalize;
    height: 200px;
    width: 200px;
    background-image: linear-gradient(greenyellow, green);
    box-shadow: 0px 0px 82px #005100 inset, 0px 0px 5px 4px #600707 inset;
    border-radius: 10px; }
    #left #pokemonWrapper #name {
      margin: auto;
      padding-top: 24px;
      font-size: 12px; }
    #left #pokemonWrapper #sprite {
      margin: auto;
      width: 96px;
      height: 96px; }

.header {
  width: 600px;
  background-color: #BC0D0D; }

.picture {
  width: 600px;
  background-color: #BC0D0D; }

.choices {
  width: 600px;
  width: 600px;
  background-color: #8B0000; }

img {
  width: 96px;
  height: 96px; }

@font-face {
  font-family: 'digital_dream';
  src: url("../../assets/font/DIGITALDREAM.ttf") format("truetype"); }
* {
  margin: 0;
  padding: 0;
  font-family: 'digital_dream', sans-serif;
  box-sizing: border-box; }

body {
  background-color: deepskyblue; }

#header {
  display: flex;
  justify-content: center; }

#masterWrapper {
  display: flex;
  justify-content: center; }

/*# sourceMappingURL=style.css.map */
